.head{
    background-color: #124feb38;
    height: 50px;
    margin-bottom: 25px;
    max-width: 100%;
    box-sizing: border-box;
    position: sticky;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }